.popup__edit {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  margin: 34px 64px 46px 36px;
  color: #000000;
}

@media screen and (max-width: 550px) {
  .popup__edit {
    font-size: 18px;
    line-height: 22px;
    width: 238px;
    margin: 25px 22px 73px 22px;
  }
}
